name: check-transpiled-javascript

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

permissions:
  contents: read

jobs:
  check-dist:
    name: Check compiled actions dist/ folders
    runs-on: kubernetes-runner

    steps:
    - name: Checkout
      id: checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Setup pnpm
      uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

    - name: Setup Node.js
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version-file: .node-version
        cache: pnpm

    - name: Install Dependencies
      id: install
      run: pnpm install --frozen-lockfile

    - name: Build actions
      id: build
      run: pnpm run bundle

    - name: Check for uncommitted changes
      id: diff
      run: |
        if ! git diff --exit-code --ignore-space-at-eol --text '*/dist/*'; then
          echo ""
          echo "ERROR: Detected uncommitted changes after build."
          echo "Please run 'pnpm run bundle' and commit the changes."
          exit 1
        fi
        echo "All dist directories are up to date!"
